Q1. What is a database? Differentiate between SQL and NoSQL databases.

A database is an organized collection of structured information, or data, typically stored electronically in a computer system. A database is usually controlled by a database management system (DBMS).
SQL databases are vertically scalable, while NoSQL databases are horizontally scalable. SQL databases are table-based, while NoSQL databases are document, key-value, graph, or wide-column stores. SQL databases are better for multi-row transactions, while NoSQL is better for unstructured data like documents or JSON.

In [ ]:
Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL is a Data Definition Language that is used to define data structures and modify data.

The CREATE TABLE command creates a new table in the database.
CREATE TABLE Persons (
    PersonID int,
    LastName varchar(255),
    FirstName varchar(255),
    Address varchar(255),
    City varchar(255)
);

The ALTER TABLE command adds, deletes, or modifies columns in a table.
The ALTER TABLE command also adds and deletes various constraints in a table.
ALTER TABLE Customers
ADD Email varchar(255);

The DROP TABLE command deletes a table in the database.
DROP TABLE Shippers;

The TRUNCATE TABLE command deletes the data inside a table, but not the table itself.
TRUNCATE TABLE Categories;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

Data Manipulation Language or DML is a subset of operations used to insert, delete, and update data in a database.
The SQL INSERT, UPDATE, and DELETE commands enable SQL users to manipulate and modify data: The INSERT statement introduces new rows into an existing table. The DELETE statement removes a row or combination of rows from a table. The UPDATE statement enables users to update a row or group of rows in a table.

INSERT INTO tableName
(column1, column2, ...)
VALUES (value1, value2, ...)

UPDATE tableName
SET column1=value1, column2=value2,...
WHERE filterColumn=filterValue

DELETE tableName
WHERE  filterColumn=filterValue;

Q4. What is DQL? Explain SELECT with an example.

DQL is a portion of a SQL statement that allows you to get and organise data from a database. You can use the SELECT command to extract data from a database in order to perform actions on it. It is the same as the projection operation in relational algebra.

To select all columns from a table (Customers) for rows where the Last_Name column has Smith for its value, you would send this SELECT statement to the server back end:

SELECT * FROM Customers WHERE Last_Name='Smith';

In [ ]:
Q5. Explain Primary Key and Foreign Key.

A FOREIGN KEY is a field (or collection of fields) in one table, that refers to the PRIMARY KEY in another table. The table with the foreign key is called the child table, and the table with the primary key is called the referenced or parent table.

In [ ]:
Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
import mysql.connector  

#Create the connection object   
myconn = mysql.connector.connect(host = "localhost", user = "root",passwd = "google", database = "mydb")  
  
#printing the connection object   
print(myconn)   
  
#creating the cursor object  
cur = myconn.cursor()  
  
print(cur)

Q7. Give the order of execution of SQL clauses in an SQL query.

The order of execution in SQL follows a specific set of rules. First, the FROM clause is evaluated, followed by the WHERE clause, then the SELECT clause. The GROUP BY clause is evaluated next, followed by the HAVING clause, and finally, the ORDER BY clause.